.primary_div{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-top: 50px;
}
.heading{
    margin-bottom: 40px;
}
.heading p{
    font-size: 25px;
    font-weight: bolder;
}
.inside_div{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.song_name{
    margin-right: 100px;
}
.song_text_input{
    width: 200px;
    height: 7px;
    border-radius: 0px;
}
.date_released{
    margin-right: 80px;
}
.date_text_input{
    width: 200px;
    height: 7px;
    border-radius: 0px;
}